!!!
%html
  %head
    %title Ruby on Rails Tutorial Sample App | Home
    / %link{:href => "/assets/fonts/font-awesome-4.3.0/css/font-awesome.min.css", :rel => "stylesheet"}/
  %body
    %h1
      Pages#home
    %p
      Find me in app/views/pages/home.html.haml